<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<appSettings file="Dev.config">
		<add key="AppClientId" value="" />
		<add key="AppClientSecret" value="" />
		<add key="AppBotId" value="" />
		<add key="AppBotToken" value="" />
	</appSettings>
</configuration>